<div ng-controller="AddCtrl">
	<h1 layout="row" layout-align="center"> <b>Add a User</b></h1>
	  <md-content layout-padding layout="row">	
      <div>
          <md-input-container>
	      <label>Username</label>
	      <input ng-model="user.username">
	  </md-input-container>
	</div>
	<br><br>
	<div>
	      <md-input-container>
	      <label>Email</label>
	      <input ng-model="user.email" type="email">
	  </md-input-container>	  
	</div>
	<div>
	      <md-input-container>
	      <label>Full Name</label>
	      <input ng-model="user.full_name" type="text">
	  </md-input-container>	  
	</div>	
	</md-content>
	</form>
</div> 