<div ng-controller="HomeCtrl" layout >
	<md-whiteframe class="md-whiteframe-z1" flex >
	<md-content>
	<div>
		<div layout="row" layout-align="start center" flex>
		<a href="#/"> <md-button class="md-raised md-primary"> Rafee</md-button></a>
		<a href="#/admin"> <md-button class="md-raised md-primary"> Admin dashboard </md-button> </a>
		<span flex> </span>
		<div align="center center"><h1><b> Rafee: Rapid Feedback CI screen </b></h1></div>
		<span flex> </span>
		<div align="right"> 
		v0.0.0<md-button class="md-raised" ng-click="logOut()"> Logout</md-button> </div>
	</div>
	</div>
</md-whiteframe>
</div>