

<div class="container" ng-controller="LoginCtrl" style="margin-top: 10%;">

<div flex layout="row" layout-align="center center">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                <hgroup>
                    <h1>Welcome to Rafee</h1>
                </hgroup>

                <form name="contactForm" data-ng-submit="doLogin()">
                    <md-input-container>
                        <label>Username:</label>
                        <input ng-model="userName" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Password:</label>
                        <input type="password" ng-model="password" required>
                    </md-input-container>
 
 
                    <md-button class="md-raised md-primary" type="submit">Login</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>

   
</div>

